<!-- TODO; create methods in model to try and clean up all this nil logic seeping into the view OR create partials for the more complex view logic -->
<!-- TODO; switch out <a> tags with link_to's -->
<!-- TODO; handle partial links in person overview that are meant to originate from www.crunchbase.com -- currently results in routing errors because it assumes they are originating from www.periphery.in -->

<div class='row'>
  <ul class='large-block-grid-4'>
    <% @people.each do |person| %>
      <li class='th flip'>
        <div class='th card'>
          <div class='front face'>
            <h5><a href="<%= person.homepage_url.blank? ? "http://www.crunchbase.com/person/#{person.permalink}" : person.homepage_url %>" target="_blank">
            <%= "#{person.first_name} #{person.last_name}" %>
            </a></h5>
            <img src=<%= person.image.blank? ? 'assets/Portrait_placeholder.png' : person.image.sizes[1].url %>>
            <div class='title-twitter'>
              <h6><%= person.relationships.select {|p| p.firm_permalink == @company.permalink}.first.title unless person.relationships.select {|p| p.firm_permalink == @company.permalink}.first.blank? %></h6>
              <% if person.twitter_username %>
                <h6><a href=<%= "https://twitter.com/#{person.twitter_username}" %> target="_blank">
                  <%= "@#{person.twitter_username}" unless person.twitter_username.blank? %>
                </a></h6>
              <% end %>
              <% linkedin = person.web_presences.select { |h| h['title'] == "LinkedIn" } %>
              <% unless linkedin.blank? %>
                <h6><a href=<%= linkedin.first['external_url'] %>>
                  LinkedIn
                </a></h6>
              <% end %>
            </div>
          </div>
          <div class='back face'>
            <%= person.overview.gsub('<p>','<h6>').gsub('</p>', '</h6>').html_safe unless person.overview.blank? %>
          </div>
        </div>
      </li>

    <% end %>
  </ul>
</div>