<!DOCTYPE html>
<html lang="en"> <!--ng-app-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Periphery" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1 class='text-center'>Periphery</h1>

    <div class='row'>
      <%= form_tag(search_path, method: "get", remote: false) do %>
        <%= text_field_tag 'search', nil, placeholder: "Search a startup, see who's involved" %>
        <div class='large-2 large-offset-5 columns'><%= submit_tag "Search", name: nil, class: "search button" %></div>
      <% end %>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>